$circleSmall: 10px;
$circleMiddle: 34px;
$color: #373d48;
$circleAreaWidth: 68px;
$periodWidth: 100px;

.Resume {
    font-family: "Arial";
    font-size: 12px;
    color: $color;
}

.cnt-flex {
    display: flex;    
}

.flex-expand {
    flex: 1;
}

.period-col {    
    width: $periodWidth;
    text-align: right;
}

.circle-area {
    text-align: center;
    width: $circleAreaWidth;
}

@mixin circle ($size) {
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: $size / 2;
}

.circle {
    display: inline-block;
    background: $color;
    @include circle($circleSmall);
    
    &.middle {
        @include circle($circleMiddle);        
    }
}
.sub-title {
    font-size: 14px;
    font-weight: bold;
    color: $color;
}

.title {
    @extend .sub-title;
    font-size: 16px;
}
$tmp: 2 / 12;
.vert-line {
    $width: 2px;
    width: $width;
    background: #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 15px + ($circleAreaWidth - $width) / 2;
    left: $periodWidth;
    z-index: -1;
}