$circleSmall: 10px;
$circleMiddle: 34px;
$color: #373d48;
$color2: #ddd;
$circleAreaWidth: 34px;
$circleOuterMargin: 17px;
$periodWidth: 65px;
$sectionMargin: 20px;
$paddings: 20px 40px;


.resume {
    font-family: "Ebrima";
    font-size: 14px;
    color: $color;
    
    ul {
        padding-left: 20px;
    }
}

.max-width {    
    max-width: 1000px;
    margin: 0 auto;
    padding: $paddings;
}

.header {
    $c: white;
    background: $color;
    color: $c;
    
    a {
        color: $c;
    }
}

.bold {
    font-weight: bold;
}

@mixin circle ($size) {
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: $size / 2;
}

.cnt-person {
    display: inline-table;
}

.cnt-photo, .cnt-name {
    display: table-cell;
    vertical-align: middle;
}

.cnt-name {
    padding-left: 30px;
}

.person-name {
    font-weight: bold;
    font-size: 35px;
}

.person-position {
    font-size: 25px;
}

.person-photo {
    @include circle(100px);
    background: white;
    overflow: hidden;
    
    img {
        height: 100%;
        width: 100%;
        margin-top: -4px;
    }
}

.main-section {
    position: relative; // for vertival line
}

.section {
    margin-top: $sectionMargin;
}

.cnt-flex {
    //display: flex;
    display: table; // for printing
    margin-top: 12px;
}

.flex-expand {
    flex: 1;
}

.period-col {    
    width: $periodWidth;
    text-align: left;
    display: table-cell; // for printing
}

.circle-area {
    text-align: center;
    width: $circleAreaWidth;
    margin-right: $circleOuterMargin;
}

.circle {
    display: inline-block;
    color: white;
    font-size: 6px;
    background: $color;
    @include circle($circleSmall);
    
    &.middle {
        font-size: 16px;
        @include circle($circleMiddle);        
    }
}
.sub-title {
    font-size: 16px;
    font-weight: bold;
    color: $color;
}

.title {
    @extend .sub-title;
    font-size: 16px;
}
$tmp: 2 / 12;
.vert-line {
    $width: 2px;
    width: $width;
    background: $color2;
    position: absolute;
    top: $sectionMargin;
    bottom: 0;
    margin-left: ($circleAreaWidth - $width) / 2;
    left: $periodWidth;
    z-index: -1;
}

.skill {
    margin-bottom: 10px;
}

.grade {
    position: relative;
    display: block;
    height: 10px;
}

.mark, .mark-rest {
    position: absolute;
    top: 0;
    bottom: 0
}

.mark {
    background: $color;
    left:0;
}

.mark-rest {
    background: $color2;
    right: 0;
}


@media print { 
 /* All your print styles go here */
 .print-lnk { display: none !important; } 
}


/*********************************************************************************************/

@font-face {
  font-family: 'Ebrima';
  src: url("fonts/ebrima.ttf?w0j4pj");
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?w0j4pj");
  src: url("fonts/icomoon.eot?w0j4pj#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?w0j4pj") format("truetype"), url("fonts/icomoon.woff?w0j4pj") format("woff"), url("fonts/icomoon.svg?w0j4pj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\e901";
}

.icon-book:before {
  content: "\e91f";
}

.icon-library:before {
  content: "\e921";
}

.icon-user-tie:before {
  content: "\e976";
}

.icon-spinner10:before {
  content: "\e983";
}

.icon-tree:before {
  content: "\e9bc";
}

.icon-flag:before {
  content: "\e9cc";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-html-five:before {
  content: "\eae4";
}

.icon-html-five2:before {
  content: "\eae5";
}